/* NAV EXAMPLES */
/*********************/
ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: teal;
    border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
    }
}

.nav-item a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}

/* GALLERY EXAMPLES */
/*********************/
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-item {
    flex-basis: 33%;
    padding: 10px;
    background-color: gray;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* LAYOUT EXAMPLES */
/*********************/
.center-vert {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    height: 100px;
    background-color: orange;
    margin-bottom: 25px;
}
